*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    background-color: #121214;
    color: white;
}

body *, :root{  /* root = raiz */
    font-family: "Inter";
    line-height: 160%;
}

header{
    padding-top: 2rem; /* rem - é muito bom para responividade */
    text-align: center;
}

header img{
    width: 15rem; /* Relative em - Muda de acordo com tamanho da tela ( em = 16px ) */
}

main{
    max-width: 36rem;
    width: 90%;
    margin: 3rem auto;
}

section{
    background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad 50%, #e2d45c 100%);
    border-radius: 0.625rem;
    padding-top: 4px;
}

section > div{
    padding: 2rem;
    padding-top: 1.5rem;
    border-radius: 0.5rem;
    background-color: #2a2634;
}

section h2{
    letter-spacing: -0.47px;
}

section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

/* Animações */
main section{
    opacity: 0;
    transform: translateY(4rem);

    animation-name: appear; /* nome dos keyframes */
    animation-duration: 700ms; /* Tempo de animação */
    animation-fill-mode: forwards; /* falando que a animação acabou e que é para continuar visivel ( forwards - final (100%), backwards - inicio (0%) )*/
}

@keyframes appear { /* Animação para aparecer */
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

form{
    display: flex;
    gap: 0.85rem;
    flex-wrap: wrap; /* Para não vazar da caixa */
    margin: 1.25rem 0;
}

form select{
    all: unset; /* Tirando estilo padrão */
    border: 2px solid #9147ff;
    border-radius: 0.5rem;
    padding: 0.675rem;
    font-size: 0.875rem;
    background-color: #00000066;
}

form input{  /* Or - input, select */
    all: unset; /* Tirando estilo padrão */
    border: 2px solid #9147ff;
    border-radius: 0.5rem;
    padding: 0.675rem;
    font-size: 0.875rem;
    background-color: #00000066;
    flex: 1;  /* Pegue todo o espaço disponível e o que sobrar é o tamanho dos outros campos */
}

button{ 
    width: 100%;
    border: 0;
    background-image: linear-gradient(245deg, #9572fc 0%, #43e7ad 50%, #e2d45c 100%);
    padding: 0.675rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-transform: uppercase; /* Todas Maíusculas */
    letter-spacing: 0.12px;

    transition: all 0.3s; /* Qualquer transição (in - out) */
}


button:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 5px 1rem rgba(255, 248, 107, 0.2);
}

button:disabled{
    transition: initial; /* initial - busca as informações antes de serem mudadas */
    transform: translate(0); /* Or initial */
    box-shadow: none;  /* Or initial */
 /* opacity: 0.5;  ( vou utilizar a keyframes ) */ 
    cursor: not-allowed; /* Sinal de proibido no cursor, pois não é possível clicar*/
}

#aiResponse {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem; /* 8px */
    padding: 1.25rem;
    border-left: 4px solid #43e7ad;
}

#aiResponse ul{
    padding-left: 1.5rem;
    opacity: 0.8;
}

#aiResponse ul li{
    line-height: 2rem;
}

#aiResponse p{
    color: white;
}

.loading{
    animation: pulse 1s infinite;
}

.hidden{
    display: none;
}

@keyframes pulse{
    50% {
        opacity: 0.5;
    }
}